.App {
    margin: 10%;
  }
  .card {
    margin: 20px;
  }

  .card-title {
   color:darkblue
  }
  .card-body{
    background-color: burlywood;
  }
  .home{
    background-color: darkcyan;
  }
  

  