.App {
    margin: 10%;
  }
  .card {
    margin: 20px;
  }

  
  
 .SortbyBody{
   margin:20px
 }
 body {
  background-color:lightcyan;
}
.current-page {
  margin-top:0.5rem;
  font-size: 0.8rem;
  vertical-align: middle;
  }
  .pagination-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
 